<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tunnel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>48D9AED21BD7721D0020A9A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48D9AEEB1BD7721E0020A9A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48D9AEF61BD7721E0020A9A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
